<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.seunghyun.dimigospreadsheet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/LoginActivityTheme" />
        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/MainActivityTheme" />
        <activity
            android:name=".activities.ClosingActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".activities.UpdateActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".activities.SpreadsheetActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SpreadSheetActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
    </application>

</manifest>